<div class="payment-method">
     <div class="oct-checkout-block-title d-flex align-items-center mb-3">
          <img src="catalog/view/theme/oct_remarket/img/sprite-fastorder.svg#include--payment-icon" alt="" width="24" height="24">
          <span class="text-uppercase ps-3">{{ heading_payment_block }}</span>
     </div>
     {% if error_warning %}
     <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
     {% endif %}
     {% if payment_methods %}
     <p class="mb-3">{{ text_payment_method }}</p>
     {% for payment_method in payment_methods %}
     <div class="payment-method-item">
          <label class="d-flex align-items-center">
          {% if payment_method.code == code or  not code %}
          {% set code = payment_method.code %}
          <input type="radio" name="payment_method" value="{{ payment_method.code }}" title="{{ payment_method.title }}" checked="checked" />
          {% else %} 
          <input type="radio" name="payment_method" value="{{ payment_method.code }}" title="{{ payment_method.title }}" />
          {% endif %}
          {{ payment_method.title }}
          </label>
     </div>
     {% endfor %}
     {% endif %}
</div>