{{ header }}
<div id="account-login" class="container account-container">
    {{ oct_breadcrumbs }}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="rm-page-title">{{ heading_title }}</h1>
        </div>
    </div>
    <div class="content-top-box">{{ content_top }}</div>
    {% if success %}
        <script>
            rmNotify('success', '{{ success }}');
        </script>
    {% endif %}
    {% if error_warning %}
        <script>
            rmNotify('warning', '{{ error_warning }}');
        </script>
    {% endif %}
    <div class="row">
        {{ column_left }}
	    {% if column_left and column_right %}
	    {% set class = 'col-lg-6' %}
	    {% elseif column_left or column_right %}
	    {% set class = 'col-lg-9' %}
	    {% else %}
	    {% set class = 'col-lg-12' %}
	    {% endif %}
        <div id="content" class="{{ class }}">
            <div class="rm-content rm-account-login h-100">
                <div class="rm-account-login-enter">
                    <div class="rm-account-login-title text-center">{{ text_i_am_returning_customer }}</div>
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="rm-account-login-form">
                        <div class="form-group">
                            <label class="rm-control-label" for="input-email">
                                <span class="required">*</span>
                                {{ entry_email }}</label>
                            <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="rm-control-label" for="input-password">
                                <span class="required">*</span>
                                {{ entry_password }}</label>
                            <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                        </div>
                        <div class="rm-account-login-forgotten">
                            <a href="{{ forgotten }}">{{ text_forgotten }}</a>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="rm-btn dark">
                                <span class="rm-btn-text">{{ button_login }}</span></button>
								{% if redirect %}
                                <input type="hidden" name="redirect" value="{{ redirect }}"/>
	                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="rm-account-login-register">
                    <div class="rm-account-login-title text-center">{{ text_register }}</div>
                    <div class="rm-account-login-text">{{ text_register_account }}</div>
                    <div class="text-center">
                        <a href="{{ register }}" class="rm-btn dark"><span class="rm-btn-text">{{ button_continue }}</span></a>
                    </div>
                </div>
            </div>
        </div>
        {{ column_right }}
    </div>
    {{ content_bottom }}
</div>
{{ footer }}
