{{ header }}
<div id="error-not-found" class="container rm-404-content">
	<div class="content-top-box">{{ content_top }}</div>
	<div class="rm-content h-100 text-center">
		<div class="rm-page-title rm-404-content-title text-center"><h1>{{ heading_title }}</h1></div>
		<div class="rm-404-content-image rm-cart-empty"><img class="img-fluid" src="catalog/view/theme/oct_remarket/img/empty-cart.svg" /></div>
		<div class="rm-404-content-text">
			<p>{{ text_error }}</p>
			<a href="{{ continue }}" class="rm-btn dark mt-3">{{ button_continue }}</a>
		</div>
	</div>
	{{ content_bottom }}
</div>
{{ footer }}
